/**    CUSTOM CSS     **/
/** by Lance Sasedor **/

/**sidebar**/

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}

.adm-pic
{

}

.adm-info
{
  color: #fff;
}

#usccmplg{
    display: all;
  }

@media screen and (max-width: 350px) {
  #usccmplg{
    display: none;
  }
}

.btn-edtacct {
  border: 6px solid #FFB041;
  background-color: #FFB041;
  color: #fff;
  padding: 5px 5px;
  font-size: 12px;
}

.btn-edtacct:hover {
  border: 6px solid #FFB041;
  background-color: #FFF;
  color: #FFB041;
}

/*
 * Component: Info Box
 * -------------------
 */
.info-box {
  display: block;
  min-height: 90px;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.info-box small {
  font-size: 14px;
}
.info-box .progress {
  background: rgba(0, 0, 0, 0.2);
  margin: 5px -10px 5px -10px;
  height: 2px;
}
.info-box .progress,
.info-box .progress .progress-bar {
  border-radius: 0;
}
.info-box .progress .progress-bar {
  background: #fff;
}
.info-box-icon {
  border-top-left-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 10px;
  display: block;
  float: left;
  height: 90px;
  width: 90px;
  text-align: center;
  font-size: 45px;
  line-height: 90px;
  background: rgba(0, 0, 0, 0.2);
  color: #FFF;
}
.info-box-icon > img {
  max-width: 100%;  
}
.info-box-content {
  padding: 15px 20px;
  margin-left: 90px;
}
.info-box-number {
  display: block;
  font-weight: bold;
  font-size: 18px;
}
.progress-description,
.info-box-text {
  display: block;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.info-box-text {
  text-transform: uppercase;
}
.info-box-more {
  display: block;
}
.progress-description {
  margin: 0;
}

.todaysviews-infobox{
  background-color: #0080FF !important;
}

.noofusers-infobox{
  background-color: #02A554 !important;
}

.avgrate-infobox{
  background-color: #FFB041 !important;
}




/**JUMBOTRON**/
.jumbo-viewsite{
  background-image: url("../img/usc-jb-lrc.jpg");
  background-position: 0% 0%;
  /*background-position: center;*/
  background-repeat: no-repeat;
  background-size: cover;
  margin:0;
  margin-top: 20px;
  overflow: hidden;
  height: 100%;
  
  padding: 0;
  border-radius: 10px;
  border: 0px solid;
}

.viewsite-cover{
  background-color: rgba(7,7,7,0.5);
  height: 100%;
}

.usclogo-jumbo{
  height: 150px;
  width: 300px;
  margin-top: 80px;
}


.buttonset-jumbo{
  margin-top: 50px;
  margin-bottom: 50px;
}


.jumbo-viewsite a{
    border-radius: 6px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: Roboto;
    font-style: italic;
    margin: 0px 10px;
    cursor: pointer;
    transition: .5s ease;
}

.editsite-btn{
  border: 2px solid #02A554;
  background-color: #02A554;
  color: #FFF;
}

.editsite-btn:hover {
  color: #FFF;
  background-color: rgba(7,7,7,0);
}

.viewsite-btn{
  border: 2px solid #FFB041;
  background-color: #FFB041;
  color: #333;
}

.viewsite-btn:hover {
  color: #FFF;  
  background-color: rgba(7,7,7,0);
}

.wrapper:before,.wrapper:after{
  content:" ";
  width: 100px;
  height: 2px;
  margin: 0 10px;
  vertical-align: super;
  background-color:#FFF;
  display:inline-block;
}

@media screen and (max-width: 800px) {
  .wrapper:before,.wrapper:after{
    content:" ";
    width: 0;
    height: 0;
    margin: 0 0;
    vertical-align: ;
    background-color: ;
    display: ;
  } 

  .jumbo-viewsite a{
    margin: 10px;
  } 
}

/** Article Review - Home Page**/
.btn-artvw {
    color: #fff;
    background-color: #02A554;
    border-color: #02A554; 
    border-radius: 3px;
    padding: 6px 20px;
  }

  .btn-artvw:focus, .btn-artvw.focus, .btn-artvw:hover, .btn-artvw.active, .btn-artvw:active, .btn-artvw:disabled, .btn-artvw.disabled 
  {
    color: #fff !important;
    background-color: #29b765 !important;
    border-color: #229854 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: none; 
  }

  .btn-artvwall {
    color: #fff;
    background-color: #02A554;
    border-color: #02A554; 
    border-radius: 3px;
    padding: 10px 100px;
  }

  .btn-artvwall:focus, .btn-artvwall.focus, .btn-artvwall:hover, .btn-artvwall.active, .btn-artvwall:active, .btn-artvwall:disabled, .btn-artvwall.disabled 
  {
    color: #fff !important;
    background-color: #29b765 !important;
    border-color: #229854 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: none; 
  }

  .img-artvw{
    height: 70px;
    width: 100px;
  }

  .td-content{
    margin-top: 15px;
    margin-bottom: 8px;
  }


/** Report Review - Home Page**/
  .btn-rptusr {
    color: #fff;
    background-color:   #F73534;
    border-color: #F73534; 
    border-radius: 3px;
    padding: 6px 20px;
  }

  .btn-rptusr:focus, .btn-rptusr.focus, .btn-rptusr:hover, .btn-rptusr.active, .btn-rptusr:active, .btn-rptusr:disabled, .btn-rptusr.disabled 
  {
    color: #fff !important;
    background-color: #e02f2f !important;
    border-color: #e02f2f !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: none; 
  }

  .btn-rptusrall {
    color: #fff;
    background-color:   #F73534;
    border-color: #F73534; 
    border-radius: 3px;
    padding: 10px 100px;
  }

  .btn-rptusrall:focus, .btn-rptusrall.focus, .btn-rptusrall:hover, .btn-rptusrall.active, .btn-rptusrall:active, .btn-rptusrall:disabled, .btn-rptusrall.disabled 
  {
    color: #fff !important;
    background-color: #e02f2f !important;
    border-color: #e02f2f !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: none; 
  }

  /** Rating Review - Home Page**/
  .img-ratvw{
    border-radius: 100%;
    height: 75px; 
    width: 75px;
  }

  .ratvw-usrnam{
    text-transform: uppercase;
    color: #008FFF;
  }

  .star-checked {
    color: orange;
  }

  .btn-ratvwall {
    color: #fff;
    background-color:   #008FFF;
    border-color: #008FFF; 
    border-radius: 3px;
    padding: 10px 100px;
  }

  .btn-ratvwall:focus, .btn-ratvwall.focus, .btn-ratvwall:hover, .btn-ratvwall.active, .btn-ratvwall:active, .btn-ratvwall:disabled, .btn-ratvwall.disabled 
  {
    color: #fff !important;
    background-color: #0367b5 !important;
    border-color: #0367b5 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: none; 
  }

  /** Activity Log Review - Home Page **/

  .btn-actlog {
    color: #4c4f51;
    background-color:   #FFF;
    border-color: #008FFF; 
    border-radius: 3px;
    padding: 5px 20px;
  }



 /** loginpage **/

 .admin-loginbg {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_RnZRTavUACXSxX5zlHkf7W4EuDl9410u1nV0iWl4uGlPJ__W");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin:0;
    overflow: hidden;
 }

 

#login {
    padding-top: 50px;
    padding-bottom: 40px;
}

#login .form-signin {
    max-width: 500px;
    padding: 19px 50px 29px;
    margin: 0 auto 20px;
    
}

#login .form-signin input[type="text"],
#login .form-signin input[type="password"] {
    width: 100%;
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 10px 9px;
    border-radius: 5px;
}
#login .form-signin button{
  width: 100%;
  padding: 12px 9px;
  border-radius: 5px;
}

.login-uscliblogo {
    height: 70px;
    width: 130px;
    margin-bottom: 50px;
}

.login-usclogo {
    height: 30px;
    width: 100px;
    margin-bottom: : 50px;
}

.loginheading {
  font-family: Roboto;
  color: #FFF;
  text-align: center;
  margin-bottom: 40px;
}

.loginfooter {
  font-family: Roboto;
  color: #dbdbdb;
  text-align: center;
  font-size: 11px;
  margin-top: 40px;
}


.btn-login {
    color: #fff;
    background-color: #02A554;
    border-color: #02A554; 
    font-family: Roboto;
}

.btn-login:focus, .btn-login.focus, .btn-login:hover, .btn-login.active, .btn-login:active, .btn-login:disabled, .btn-login.disabled 
  {
    color: #fff !important;
    background-color: #29b765 !important;
    border-color: #229854 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: none; 
  }

/**datatables **/
.add-btn{
  border: 2px solid #02A554;
  background-color: #02A554;
  color: #FFF;
}

.add-btn:hover {
  color: #333;
  background-color: #FFF;
}